.legend {
    position: absolute;
    background-color: #fff;
    width: 158px;
    height: 155px;
    left: 10px;
    top: 118px;
    z-index: 90;
    border-radius: 2px;
    padding: 5px;
    list-style-type: none;
}

.item {
     margin-top: 5px;
    border-color: white;
    border-radius: 50%;
    border-width: 5px;
    height: 25px;
    width: 25px;
    line-height: 25px;
  }


  span {
    margin-left: 35px;
    display: inline;
    white-space: pre;

  }
