.legend {
    position: absolute;
    background-color: #fff;
    width: 158px;
    height: 155px;
    left: 10px;
    top: 118px;
    z-index: 90;
    border-radius: 2px;
    padding: 5px;
}




.item_one {
     margin-top: 5px;
    background-color: #47dfaa;
    border-color: white;
    border-radius: 50%;
    border-width: 5px;
    height: 25px;
    width: 25px;
    line-height: 25px;
  }

  .item_two {
    margin-top: 5px;
    background-color:#29b4e3;
    border-color: white;
    border-radius: 50%;
    border-width: 5px;
    height: 25px;
    width: 25px;
    line-height: 25px;
  }

  .item_three {
    margin-top: 5px;
    background-color: #f2f26d;
    border-color: white;
    border-radius: 50%;
    border-width: 5px;
    height: 25px;
    width: 25px;
    line-height: 25px;
  }

  .item_four {
    margin-top: 5px;
    background-color: #8c3998;
    border-color: white;
    border-radius: 50%;
    border-width: 5px;
    height: 25px;
    width: 25px;
    line-height: 25px;
  }

  .item_five {
    margin-top: 5px;
    background-color: #db0456;
    border-color: white;
    border-radius: 50%;
    border-width: 5px;
    height: 25px;
    width: 25px;
    line-height: 25px;
  }




  span {
    margin-left: 35px;
    display: inline;

  }
